.tabela-generica{
    font-size: 0.8em;
}

.tabela-generica-corpo-coluna{
    
}

.tabela-generica-coluna{
    border-top: 0.02em solid #3f4b69;
    border-collapse: collapse;
    border-spacing: 0;
    padding-left: 0.9em;
    padding-right: 0.9em;
}

.tabela-generica-dados{
    font-size: 0.6em;
    -webkit-column-break-after: auto;
}

tbody tr:nth-child(odd) {
    background-color: #3b4457;
}

tbody tr:nth-child(even) {
    background-color: #333f58;
}

.btn-pagina{
    width: 50%;
}

.btn-pagina-proximo, .btn-pagina-anterior{
    background-color: transparent;
    border: 0.12em solid #3f4b69;
    border-radius: 20px;
    width: 2.3em;
    height: 2.3em;
    font-size: 0.6em;
    font-weight: bold;
}
.btn-pagina-anterior{
    margin-right: 0.3em;
}

.btn-pagina-proximo{
    margin-left: 0.3em;
}

.btn-pagina-proximo:hover, .btn-pagina-anterior:hover{
    transform: rotate(360deg)!important;
    transition: 1s ease !important;
    cursor: pointer;
}

.msg-alerta-sem-dados{
    font-size: 0.8em;
    color: rgb(187, 43, 43);
    align-items: flex-start;
    margin-right: 20.7em;
}

.msg-alerta-error{
    font-size: 0.4em;
    color: rgb(187, 43, 43);
    justify-content: end;
}

.tabela-pe{
    display: flex;
}

.valor-total{
    font-size: 0.5em;
    color: rgb(224, 222, 222);
    /* margin-left: 20em; */
    justify-items: flex-end;
    width: 50%;
}